footer {
  grid-column: 1 / span 3;
  background: var(--gray--color);
  color: white;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid whitesmoke;
}

.footer-logo-container {
  margin: 0;
}

.footer-logo-container img {
  width: 50px;
}
