.hero {
  grid-column: 1 / span 3;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.hero-video-container video {
  width: 100%;
  height: auto;
}

.hero-overlay {
  background: rgba(0, 0, 0, 40%);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.hero-overlay img {
  position: absolute;
  top: 5em;
  left: 35vw;
  width: 30%;
}

@media screen and (max-width: 768px) {
  .hero-overlay {
    height: 436px;
  }

  .hero-overlay img {
    top: 9vh;
    left: 36vw;
    width: 30%;
  }
}

@media screen and (max-width: 480px) {
  .hero-overlay img {
    top: 7vh;
    left: 35vw;
    width: 30%;
  }

  .hero-overlay {
    height: 273px;
  }
}

@media screen and (max-width: 394px) and (min-width: 360px) {
  .hero-overlay img {
    top: 4vh;
    left: 35vw;
    width: 30%;
  }

  .hero-overlay {
    height: 204px;
  }
}

@media screen and (max-width: 320px) {
  .hero-overlay img {
    top: 4vh;
    left: 35vw;
    width: 30%;
  }

  .hero-overlay {
    height: 182px;
  }
}
