.jobs {
  grid-column: 1 / span 3;
}

.jobs h1 {
  text-align: center;
}

.jobs-grid-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 0px 2em; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.job-article {
  width: 300px;
  height: auto;
  margin: 10px;
}

.job-article-img-container img {
  width: 100%;
  object-fit: cover;
}

job-article {
  overflow: hidden;
}

.job-article-img-container {
  margin: 0;
}

.job-article-details {
  padding: 1em;
  background-color: var(--gray--color);
  color: white;
  margin: 2em;
  margin-top: -2em;
  position: relative;
}

.job-article-details h3 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .jobs-grid-container {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .jobs-grid-container {
    grid-template-columns: 1fr;
    flex-wrap: wrap;
  }

  .job-article-im-container img {
    width: 70%;
  }
}
